<nav>
    <ul>
        <li>
            <a
                href="https://amongusband.bandcamp.com/"
                target="_blank"
                rel="noopener noreferrer">Bandcamp</a>
        </li>
        <li>
            <a
                href="https://www.youtube.com/@AmongUsBand"
                target="_blank"
                rel="noopener noreferrer">Youtube</a>
        </li>
        <li>
            <a
                href="https://open.spotify.com/intl-es/artist/1U6PIKrxuh0Ixav66KCeMi?si=_riudrK-SCO8wxi6dGN2mg"
                target="_blank"
                rel="noopener noreferrer">Spotify</a>
        </li>
        <li>
            <a
                href="https://www.instagram.com/among.us.the.band"
                target="_blank"
                rel="noopener noreferrer">Instagram</a>
        </li>
    </ul>
</nav>

<style>
    nav {
        position: absolute;
        top: 45%;
        width: 100%;
        font-size: 3vw;
        z-index: 10;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    a {
        transition: 0.2s ease;
    }

    a:hover {
        color: brown;
    }

    @media (max-width: 800px) {
        nav {
            font-size: 2.5rem;
        }
    }
</style>
